*{
	margin: 0;
	padding: 0;
}


@font-face {
	font-family: "Lora";
	src:url(../font/Lora/Lora-Italic.ttf); 
}

@font-face {
	font-family: "Montserrat";
	src:url(../font/Montserrat/Montserrat-ExtraLight.ttf); 
}

body {
	position: relative;
	font-family: "Lora";
	
}

.centro1 {
	width: 100%;
	height: 531px;
	background-color: #3754a0;
	margin-bottom: 10%;
}
.centro2 {
	width: 50%;
	margin: auto;
	margin-bottom: 10%;
}

.centro {
	width: 100%;
	margin: 0 auto;
}

.coluna1 {
	float: left;
	width: 50%;
}

.livro {
	left: 0;
	width: 50%;
	position: absolute;
	bottom: -79px;

}

.coluna2 {
	float: right;
	width: 50%;
}

.news {
	right: 273px;
	width: 29%;
	height: 194px;
	position: absolute;
	bottom: 291px;
	font-family: "Montserrat", "Sans serif";
}

.img1{
	width: 581px;
	height: 544px;
	float: right;
}

.pp {
	margin-top: 11%;
	margin-bottom: 10%; 
	color: #41bf69;
}
.h11 {
	margin-top: 8%;
	margin-bottom: 8%;
	color: white;
}

.sp {
	margin-top: 8%;
	margin-bottom: 8%;
	color: white;
	font-size: 16px;
}

.dterceirop {
	position: relative;
	top: 130%;
}

.tp {
	text-align: center;
	margin-top: 3%;
	margin-bottom: 3%;
	font-size: 23px;
}

.email {
	margin-top: 2%; 
	border: 1px solid #CCCCCE;
	border-radius: 2px;
	color: #CCCCCE;
	font-size: 13px;
	font-weight: bold;
	line-height: 30px;
	text-decoration: none;
	padding: 5px 15px;
	width: 325px;
}

.botao01{
	margin-top: 3%; 
	border: 0 solid #CCCCCE;
	border-radius: 2px;
	color: white;
	font-size: 13px;
	font-weight: bold;
	line-height: 30px;
	text-align: center;
	text-decoration: none;
	padding: 5px 15px;
	width: 180px;
	background-color: #41bf69;
	cursor:pointer;
}

hr {
	width: 35%;
	position: relative;
	left: 435px;
}

.frases {
	width: 50%;
	margin: 0 auto;
	position: relative;
	top: 140%;
}

.paragfrases {
	margin-bottom: 10%;
	font-size: 25px;
}

.divhr {
	position: relative;
	top: 139%;
}

.imglink {
	width: 50px;
}

.nav {
	text-align: center;
}

.menu ul li {
	list-style: none;
	display: inline-block;
}

.menu ul li a {
	text-decoration: none;
    cursor: pointer;
}

.img {
	position: relative;
	top: 150%;
	background-image: url("../img/Captura de ecrã.png");
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
	clear: both;
}

.centralizar {
	width: 50%;
	margin: 0 auto;
}

.centrocompra {
	width: 80%;
	margin: 0 auto;
}

.comprar {
	position: relative;
	top: 120%;
	font-family: "Montserrat";
}

.h1compra {
	margin-top: 50%;
	margin-bottom: 5%;
	font-size: 40px;
	text-align: center;
}

.botao02{
	margin-top: 5%; 
	border: 0 solid #CCCCCE;
	border-radius: 2px;
	color: #c9e6cc;
	font-size: 18px;
	font-weight: bold;
	line-height: 30px;
	text-align: center;
	text-decoration: none;
	padding: 5px 15px;
	background-color: #41bf69;
	float: left;
	position: relative;
	left: 200px;
	cursor:pointer;
}

.newslestter {
	position: relative;
	top: 125%;
	background-image: url("../img/grren-blue-bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	width: 1384px;
	height: 765px;
	clear: both;
	font-family: "Montserrat";
}

.centronewsl {
	position: relative;
	top: 30%;
	width: 50%;
	margin: 0 auto;
}

.h3nl {
	font-size: 50px;
	margin-bottom: 5%;
}

.pnl {
	font-size: 18px;
	color: white;
}

.about {
	position: relative;
	top: 125%;
	width: 100%;
	height: 100%;
	font-family: "Montserrat";
}

.coluna12 {
	float: left;
	width: 50%;
	background-image: url("../img/topography-bg-light.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.h4cl12 {
	margin-top: 10%;
	text-align: center;
}

.imgcl12 {
	margin-top: 8%; 
	position: relative;
	left: 270px;
}

.pcl12 {
	margin-top: 3%;
	text-align: center;
	font-size: 22px;
	margin-bottom: 13%;
}

.coluna21 {
	float: right;
	width: 50%;
	height: 485px;
	background-image: url("../img/topography-bg-light-blue.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.h4cl21{
	margin-top: 10%;
	text-align: center;
	color: #41bf69;
}

.pcl21{
	margin-top: 13%;
	margin-bottom: 13%;
}

.p1cl21{
	margin-top: 3%;
	text-align: center;
	font-size: 22px;
	margin-bottom: 17%;
	color: white;
	font-size: 20px;
}

li {
	padding: 0 10px;
}

.footer {
	position: relative;
	top: 116%;
	width: 100%;
	background-image: url("../img/topography-bg-light-green.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	padding: 55px 0;
	text-align: center;
	font-family: "Montserrat";
}

a{
	text-decoration: none;
} 
.paragfooter {
	color: white;
	text-align: center;	
	margin-bottom: 3%;
}

.botao03{
	margin-top: -25px; 
	border: 0 solid #CCCCCE;
	border-radius: 2px;
	color: white;
	font-size: 18px;
	font-weight: bold;
	line-height: 30px;
	text-align: center;
	text-decoration: none;
	padding: 5px 15px;
	background-color: #41bf69;
	float: left;
	position: relative;
	left: 136px;
	cursor:pointer;
}


.body{
	color: #adb5ba;
	font-family: "Montserrat";
}

.ppp {
	position: relative;
	top: 50px;
	width: 60%;
	margin: 0 auto;
}

.h1ppp {
	margin-top: 5%;
	margin-bottom: 5%;
	color: 
}

.paragrafos {
	font-size: 20px;
	margin: 3% 0;
}

.a {
	color: #41bf69;
}

.a:hover {
	color: black;
}